
<div class='row form-background z-depth-5'>
  <h4 class='center green-text text-lighten-2'>Sign Up</h4>
  <form class = 'col s12 m12 l12'  action="/auth/signup" method="POST">
    
    <div class="form-group">
      <label for="authName">Name</label>
      <input id="authName" class="form-control" type="text" name="name">
    </div>

    <div class="form-group">
      <label for="authEmail">Email</label>
      <input id="authEmail" class="form-control" type="email" name="email">
    </div>

    <div class="form-group">
      <label for="authPassword">Password</label>
      <input id="authPassword" class="form-control" type="password" name="password">
    </div>
    <div class='row'>
      <input class="btn-large btn-primary green accent-4 col s12 m12 l12 login-button" type="submit">
    </div>
  </form>
</div>
