
<form action='/profile' class='edit-profile'>
	<div class='form-group'>
		<label>Name: </label>
		<input type='text' id="name" name='name' value='<%= user.name %>'>
		<label>Bio: </label>
		<input type='text' id="bio" name='bio' value='<%= user.bio %>'>
		<input type='submit' value='Submit' class='btn-large green accent-4'>
	</div>
</form>