  <footer class="page-footer red darken-4">
          <div class="container">
            <div class="row">
              
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Navigate</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/profile">Your Profile</a></li>
                  <li><a class="grey-text text-lighten-3" href="/auth/login">Login</a></li>
                  <li><a class="grey-text text-lighten-3" href="/auth/signup">Sign up</a></li>
                  <li><a class="grey-text text-lighten-3" href="/auth/logout">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
              Made with &hearts; by Emily Garrett 2018
            <div class='right' id="edamam-badge" data-color="white"></div>
            </div>
          </div>
        </footer>