  <footer class="page-footer red darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">User Testimonials</h5>
                <p class="grey-text text-lighten-4">"As a single mom of two picky eaters, this app is a lifesaver." - Joyce</p>
                <p class="grey-text text-lighten-4">"I have a ridiculously restrictive diet due to health issues, and Choosy Chomps helps reduce the stress of finding something healthy to eat that doesn't also hurt me." - Logan</p>
                <p class="grey-text text-lighten-4">"I just like having options, and Choosy Chomps certainly has an abundance of them." - Marie</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Navigate</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/profile">Your Profile</a></li>
                  <li><a class="grey-text text-lighten-3" href="/auth/login">Login</a></li>
                  <li><a class="grey-text text-lighten-3" href="/auth/signup">Sign up</a></li>
                  <li><a class="grey-text text-lighten-3" href="/auth/logout">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
              Made with &hearts; by Emily Garrett 2018 
              <a href='http://www.github.com/egarrett94/choosy-chomps'><img class='icon' src="https://image.flaticon.com/icons/svg/25/25231.svg" alt='github icon'></a>
              <a href='http://www.linkedin.com/in/emilymariegarrett94'><img class='icon' src='https://png.icons8.com/metro/1600/linkedin.png' alt='linkedin icon'></a>
              <a href='mailto:e.marie.garrett@gmail.com'><img class='icon' src='http://www.stickpng.com/assets/images/584856a0e0bb315b0f7675a9.png' alt='email icon'></a>
            <div class='right' id="edamam-badge" data-color="white"></div>
            </div>
          </div>
        </footer>