<div class='row center'>
	<div class='carouseltop col s12 m12 l12'>
	  <div class="carousel carousel-slider center z-depth-5" data-indicators='true'>
	  	<div class="carousel-fixed-item center">
	  		<h1>Welcome to the table.</h1>
	    	<p class='white-text'>Picky eaters? Dietary restrictions? Allergies? <br>
	    	No problem.</p>
	      	<a href = '/signup' class="btn waves-effect green accent-4 white-text darken-text-2">Sign Up!</a>
	    </div>
	    <a class="carousel-item" href="#one!">
	    	<img src="/img/carouselimg1.jpg"></a>
	    <a class="carousel-item" href="#two!"><img src="/img/carouselimg2.jpg"></a>
	    <a class="carousel-item" href="#three!"><img src="/img/carouselimg3.jpg"></a>
	    <a class="carousel-item" href="#four!"><img src="/img/carouselimg4.jpg"></a>
	    <a class="carousel-item" href="#five!"><img src="/img/carouselimg5.jpg"></a>
	  </div>
	</div>
</div>

<div class='row center'> 
	<br>
	<p class='instructions z-depth-5'><i class="material-icons yellow-text text-darken-2">lightbulb_outline</i> To search, just enter an ingredient and select a diet filter from the drop-down (or don't!) and press 'Search!'</p>
</div>

<div class='row center '>
	<form action='/recipes' method='GET'>
        <div class="input-field col s12 m5 l5 center searchbox z-depth-5">
          <input id="search" class="z-depth-5" type="search" name='search' placeholder='Search ingredients' required>
          <label class="label-icon" for="search"></label>
          <i class="material-icons magnifying yellow-text text-darken-2">search</i>
        </div>
		<select name='selectionbox' class="browser-default selectionbox col s12 m5 l5 z-depth-5">
			<option value="null" selected>Diet Options</option>
			<option value="dairy-free">Dairy-Free</option>
			<option value="egg-free">Egg-Free</option>
			<option value="gluten-free">Gluten-Free</option>
			<option value="kosher">Kosher</option>
			<option value="paleo">Paleo</option>
			<option value="peanut-free">Peanut-Free</option>
			<option value="pescatarian">Pescatarian</option>
			<option value="shellfish-free">Shellfish-Free</option>
			<option value="soy-free">Soy-Free</option>
			<option value="tree-nut-free">Tree Nut-Free</option>
			<option value="vegan">Vegan</option>
			<option value="vegatarian">Vegetarian</option>
			<option value="wheat-free">Wheat-Free</option>
		</select>
		 <button type='submit' class='col s12 m2 l2 btn-large selectionbox waves-effect waves-light red darken-2 center submit-search-button z-depth-5'>Search!</button>
     </form>
</div>


<div class='row'>
	<div class='col s12 m4 l4'>
		<div class="card z-depth-5">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="/img/maincard1.jpg">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator red-text text-darken-4">Our Mission<i class="material-icons right">more_vert</i></span>
		     <p>Figuring out what's for dinner shouldn't be hard.</p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title red-text text-darken-4">Our Mission<i class="material-icons right">close</i></span>
		      <p>Coordinating with picky family members or finding tummy-friendly recipes for those with dietary restrictions is hard. That's why we've made an easy search tool with these situations in mind.</p>
	    	</div>
  		</div>
	</div>
	<div class='col s12 m4 l4'>
		<div class="card z-depth-5">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="/img/maincard2.png">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator red-text text-darken-4">Choice Diets<i class="material-icons right">more_vert</i></span>
		      <p>Use our simple search to filter your search results to your liking!</p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title red-text text-darken-4">Dietary Options<i class="material-icons right">close</i></span>
		      <p>Here are just a few: 
		      	<ul>
		      		<li>Dairy-free</li>
		      		<li>Gluten-free</li>
		      		<li>Kosher</li>
		      		<li>High-protein</li>
		      		<li>Low-sugar</li>
		      		<li>Vegan</li>
		      		<li>Vegetarian</li>
		      	</ul>
		      	...and so many more!
		      </p>
	    	</div>
  		</div>
	</div>
	<div class='col s12 m4 l4'>
		<div class="card z-depth-5">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="/img/maincard3.jpg">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator red-text text-darken-4">Love It? Save it<i class="material-icons right">more_vert</i></span>
		      <p>Sign up to save and share your favorite recipes!</p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title red-text text-darken-4">Your Favorites<i class="material-icons right">close</i></span>
		      <p><a href='/auth/signup'>Sign up</a> and save your favorite recipes for later, and share your recipes with your family and friends with the click of a button! </p>
	    	</div>
  		</div>
	</div>
</div>