<div class='carouseltop col s12 m12 l12'>
  <div class="carousel carousel-slider center" data-indicators='true'>
  	<div class="carousel-fixed-item center">
  		<h1>Welcome to the table.</h1>
    	<p class='white-text'>Picky eaters? Dietary restrictions? Allergies? <br>
    	No problem.</p>
      	<a href = '/signup' class="btn waves-effect green accent-4 white-text darken-text-2">Sign Up!</a>
    </div>
    <a class="carousel-item" href="#one!">
    	<img src="https://mindbodygreen-res.cloudinary.com/image/upload/c_fill,w_800,h_400,g_auto,q_85,fl_lossy,f_jpg/crp/cooking-organize-850x400.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="https://thechefsacademy.com/uploads/featured/cooking-basics-kitchen-featured.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="http://ediblephoenix.ediblecommunities.com/sites/default/files/grilling-tricks.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="https://www.discoverwalks.com/blog/wp-content/uploads/2017/09/best-food-to-bring-back-from-france.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="https://www.adwdiabetes.com/articles/wp-content/uploads/2016/07/Healthy-food-including-lean-meats-low-fat-milk-whole-grains-and-vegetables.jpg"></a>
  </div>
</div>

<div class='row center'>
	<form>
        <div class="input-field col sm12 m5 l5 center searchbox">
          <input id="search" type="search" required>
          <label class="label-icon" for="search">Search for your favorite food!</label>
          <i class="material-icons">search</i>
        </div>
		<select class="browser-default selectionbox col sm12 m5 l5">
			<option value="" disabled selected>Diet Options</option>
			<option value="1">these</option>
			<option value="2">will be</option>
			<option value="3">health api options</option>
		</select>
		 <button type='button' class='col sm12 m2 l2 btn-large selectionbox waves-effect waves-light red darken-2 center'>Search!</button>
     </form>
</div>


<div class='row'>
	<div class='col s12 m4 l4'>
		<div class="card">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="http://twincitieslive.com/tcliveimages/cs/showcasePics/MainDishes.jpg">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator red-text text-darken-4">Our Mission<i class="material-icons right">more_vert</i></span>
		     <p>Figuring out what's for dinner shouldn't be hard.</p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title red-text text-darken-4">Our Mission<i class="material-icons right">close</i></span>
		      <p>Coordinating with picky family members or finding tummy-friendly recipes for those with dietary restrictions is hard. That's why we've made an easy search tool with these situations in mind.</p>
	    	</div>
  		</div>
	</div>
	<div class='col s12 m4 l4'>
		<div class="card">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="http://www.greenearthorganics.ie/image/cache/data/fruit-250x250.png">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator red-text text-darken-4">Choice Diets<i class="material-icons right">more_vert</i></span>
		      <p>Use our simple search to filter your search results to your liking!</p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title red-text text-darken-4">Dietary Options<i class="material-icons right">close</i></span>
		      <p>Here are just a few: 
		      	<ul>
		      		<li>Dairy-free</li>
		      		<li>Gluten-free</li>
		      		<li>Kosher</li>
		      		<li>High-protein</li>
		      		<li>Low-sugar</li>
		      		<li>Vegan</li>
		      		<li>Vegetarian</li>
		      	</ul>
		      	...and so many more!
		      </p>
	    	</div>
  		</div>
	</div>
	<div class='col s12 m4 l4'>
		<div class="card">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="https://images.media-allrecipes.com/userphotos/250x250/34761.jpg">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator red-text text-darken-4">Love It? Save it<i class="material-icons right">more_vert</i></span>
		      <p>Sign up to save and share your favorite recipes!</p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title red-text text-darken-4">Your Favorites<i class="material-icons right">close</i></span>
		      <p><a href='/auth/signup'>Sign up</a> and save your favorite recipes for later, and share your recipes with your family and friends with the click of a button! </p>
	    	</div>
  		</div>
	</div>
</div>


<!-- 
  this page will list the services choosy chomps provides and a sign up button that 
  will send user to sign up page.  -->