<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Choosy Chomps</title>

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel='stylesheet' href='/css/style.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Pompiere|Antic|Montserrat|Barlow+Semi+Condensed" rel="stylesheet">
    <script src="https://developer.edamam.com/attribution/badge.js"></script>

  </head>
  <header class='header'> <% include partials/navbar %> </header>
  <body>


    <div class="container">
      <% include partials/alerts %>
      <%- body %>
    </div>

  <% include partials/footer %>

    <script src="//code.jquery.com/jquery.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/3.0.3/infinite-scroll.pkgd.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src='/js/main.js'></script>
  </body>
</html>
