/*font-family: 'EB Garamond', serif;
font-family: 'Pompiere', cursive;*/

html, body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	background-color: #bdbdbd ;
}

nav {
	font-family: 'EB Garamond', serif;
}

input {
	margin: 0!important;
}

.card-title {
	font-family: 'EB Garamond', serif;
}

.carousel-item {
	width: 80%;
	height: 100%;
}

.carousel-fixed-item h1 {
	font-family: 'EB Garamond', serif;
	text-shadow: 3px 3px #323232;
	color: white;
}

.carousel-fixed-item p {
	background-color: rgba(0,0,0,0.4);

}

.activator {
	border: solid white 10px;
	border-radius: 50%!important;
}

.selectionbox {
	margin: 15px auto 10px auto!important;
}

.btn-large {
	height: 42px!important;
	line-height: 42px!important;
	border-radius: 15px;
}

.searchbox {
	background-color: white;
	border-radius: 15px;
}

.login {
	margin-top: 20px;
}


