<div class='center row form-background red lighten-2'>

	<h3>Oops! Something cracked in your search. Try again!</h3>

	<img src='http://moziru.com/images/fried-egg-clipart-broken-egg-18.png'>
	<br>
	<a href='/' class='btn-large center back'>Go Back</a>

</div>