 <div class="show col s3 m6 l12">
    <div class="show card yellow darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= recipe.recipe.label %></span>
        <img class='responsive-img sprite' src='<%= recipe.recipe.image %>'>
         <div class='row'>
          <div class='types col s12 m4 l4'>
            
          </div>
        </div>
      </div>
    </div>
</div>